/* -------------------------------
BACK OFFICE COMPONENT
------------------------------- */
.wp-block-post-content{
	.block-editor-block-list__block{
		max-width: 104.375rem;
	}
	.cbo-partners .partners-inner.cbo-container{
		width: 100%;
	}
}

#wpbody{
	input[type="submit"]{
		height: auto;
	}
	#wpbody-content{
		#dashboard-widgets{
			.postbox-container{
				width: 100%;
			}
			.postbox-header{
				background: $dbcolorgreylight;
				border: none;
		
				.hndle{
					color: $dbcolorbluedark;
					padding-left: 0;
					font-size: 24px;
					line-height: 30px;
					font-weight: bold;
				}
				.handle-actions{
					display: none;
				}
			}
			#postbox-container-1{
				width: 100%;

				#welcome_dashboard{
					width: 100%;
					background: none;
					border: none;
					box-shadow: none;
					margin-bottom: 50px;
			
					.postbox-header{
						display: none;
					}
					.inside{
						color: $dbcolorbluedark;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;
						padding: 0;
			
						.inside-content{
							max-width: 700px;
			
							strong{
								font-size: 26px;
								display: block;
								margin-bottom: 16px;
								line-height: 26px;
							}
							p{
								font-size: 18px;
								line-height: 30px;
								opacity: .5;
							}
						}
						.cbo-button{
							background: $dbcolorbluedark;
							color: $colorwhite;
							border-radius: $bordersmall;
							height: 60px;
							display: inline-flex;
							justify-content: center;
							align-items: center;
							padding: 0 30px;
						}
					}
				}
			}
			#postbox-container-3{
				#google_sheet_dashboard{
					border-radius: 5px;
					width: 70%;
					border: 0px;
					box-shadow: none;
					background: none;
			
					.inside{
						background: $colorwhite;
						border-radius: $bordersmall;
						padding-left: 20px;
						padding-right: 20px;
						height: calc(100% - 57px);
			
						table{
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-end;
			
							tbody{
								width: 100%;
			
								tr{
									border-bottom: 1px solid #EEEEEF;
									width: 100%;
									display: flex;
									flex-wrap: wrap;
			
									th{
										font-size: 16px;
										font-weight: bold;
										text-align: left;
										padding: 14px 0;
			
										&:nth-child(3),
										&:nth-child(4),
										&:nth-child(5){
											text-align: right;
										}
									}
									td{
										padding: 14px 0;
			
										&:nth-child(3),
										&:nth-child(4),
										&:nth-child(5){
											text-align: right;
										}
										.billed{
											font-weight: bold;
											height: 30px;
											border-radius: 99rem;
											display: inline-flex;
											align-items: center;
											justify-content: center;
											color: #E8227E;
											background: rgba(232, 34, 126, .2);
											border: 1px solid rgba(232, 34, 126, .6);
											padding: 0 30px;
			
											&.billed--ok{
												color: #1AF27E;
												background: rgba(26, 242, 126, .2);
												border: 1px solid rgba(26, 242, 126, .6);
											}
										}
									}
								}
							}
							tfoot{
								background: #f0f0f1;
								border-radius: 5px;
								font-weight: bold;
								display: block;
								width: 40%;
								margin-top: 30px;
			
								tr{
									width: 100%;
									display: flex;
									flex-wrap: wrap;
									justify-content: space-between;
			
									td{
										padding: 14px 10px;
			
										&:nth-child(2),
										&:nth-child(3){
											text-align: right;
										}
									}
								}
							}
						}
					}
				}
				#custom_git_commits{
					border:none;
					width: 28%;
					box-shadow: none;
					background: none;
			
					.inside{ 
						padding:20px;
						border-radius:$bordersmall;
						background: $colorwhite;
						height: calc(100% - 56px);
			
						ul{
							margin: -10px 0;
			
							li{
								margin: 10px 0;

								.cbo-gitid{
									font-size: 12px;
									color: rgba($colorblack, .4);
								}
								.cbo-gittitle{
									color: $dbcolorgreen;
									display: flex;
									align-items: center;
									margin-top: 6px;

									&:before{
										font-family:"icons";
										content:"\f104";
										margin-right: 6px;
										width: 20px;
										height: 20px;
										border:1px solid;
										border-radius:99rem;
										display: flex;
										align-items: center;
										justify-content: center;
									}
								}
							}
						}
					}
				}
			}
			#postbox-container-2{
				.postbox {
					padding: 20px;
					width: 24%;
					background: $colorwhite;
					border: none;
					box-shadow: none;
					border-radius: $bordersmall;

					&#widget_page_populaire{
						.postbox-header h2::before {
							content: '\f10c';
						}
					}
					&#widget_top5_pages{
						.postbox-header h2::before {
							content: '\f110';
						}
					}
					&#widget_leads_cf7{
						.postbox-header h2::before {
							content: '\f108';
						}
					}
					&#widget_website_views{
						.postbox-header h2::before {
							content: '\f113';
						}
					}
					.postbox-header {
						background: $colorwhite;

						h2{
							padding: 0;
							font-size: 18px;
							line-height: 18px;
							position: relative;
							display: flex;
							flex-direction: column;
							flex-direction: column;
							align-items: baseline;

							&:before{
								font-family:"icons";
								background: rgba($dbcolorgreen, .2);
								border: 1px solid rgba($dbcolorgreen, .6);
								color: $dbcolorgreen;
								font-weight: normal;
								width: 30px;
								height: 30px;
								border-radius: $bordersmall;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-bottom: 10px;
							}
						}
					}
					.inside{
						padding: 0;
						margin-top: 20px;

						.number{
							display: block;
							font-size: 42px;
							opacity: 1;
						}
						ul{
							margin: 0;

							li{
								margin: 10px 0;

								a{
									color: #16171A;
								}
								strong{
									display: block;
								}
							}
						}
					}
				}
			}
			#rank_math_dashboard_widget{
				display: none;
			}
			.meta-box-sortables{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
	}
}

#wpfooter{
	#footer-left{
		display: flex;
		align-items: center;
		color: $colorjb;

		a{
			color: $colorjb;
			font-weight: bold;
			display: flex;
			align-items: center;

			i{
				background: $colorwhite;
				color: $colorjb;
				width: 30px;
				height: 30px;
				border-radius: 99rem;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				margin: 0 5px 0 10px;
			}
		}
	}
}