.slick-slider {
	.slick-list {
		overflow: hidden;

		&:focus {
			outline: none;
		}
		&.dragging {
			cursor: hand;
		}
		.slick-track {
			display: flex;
			transition: transform 0.4s;

			.slick-slide > div{
				height:100%;
			}
		}
	}
	.slick-slide img,
	.slick-initialized .slick-slide {
		display: block;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-arrow{
	font-size:1.5rem;
	padding: 0;
	cursor: pointer;
	color: $colorbluedark;
}